<!DOCTYPE html>
<html lang="en">
<body>
<header></header>
<main>
<div>
  <p><a href="https://www.clarkcountynv.gov/" aria-label="Clark County Home"><picture><img src="https://main--clarkcountynv--aemsites.aem.page/assets/images/general/clarkcounty-logo-white.png?width=750" alt="Clark County logo"></picture></a></p>
  <p>Proudly serving the communities of Southern Nevada.</p>
  <p><a href="https://twitter.com/clarkcountynv">X</a> <a href="https://www.facebook.com/ClarkCountyNV">f</a> <a href="https://www.instagram.com/clarkcountynv/">Ig</a> <a href="https://www.youtube.com/user/ClarkCountyNV">YT</a> <a href="https://www.linkedin.com/company/clark-county-nevada">in</a></p>
  <p><strong>Contact Us</strong></p>
  <p>500 S. Grand Central Pkwy.<br>Las Vegas, NV 89155</p>
  <p>Open Monday to Thursday<br>7 a.m. to 5:30 p.m. PST</p>
  <p><a href="https://www.clarkcountynv.gov/contactus">Contact Clark County</a></p>
  <p><strong>Quick Links</strong></p>
  <ul>
    <li><a href="https://www.clarkcountynv.gov/government/departments/public_communications/newsletters/subscribe-unsubscribe">Newsletter Signup</a></li>
    <li><a href="https://www.clarkcountynv.gov/government/departments/parks___recreation/services/employment">Clark County Jobs</a></li>
    <li><a href="https://www.clarkcountynv.gov/government/departments/office_of_diversity_division/ada_title_ii_sec_504/">Accessibility</a></li>
    <li><a href="https://www.clarkcountynv.gov/government/departments/">County Departments</a></li>
    <li><a href="https://www.clarkcountynv.gov/calendar">Calendar</a></li>
    <li><a href="https://www.clarkcountynv.gov/government/departments/public_communications/clark_county_featured_stories/">Top Stories</a></li>
  </ul>
</div>
<div>
  <p>Copyright 2026 Clark County, Nevada</p>
  <p>Forbes 2024 — Recognized by Forbes as one of America's Best-In-State Employers in 2024.</p>
</div>
</main>
<footer></footer>
</body>
</html>
