<!DOCTYPE html>
<html lang="en">
<body>
<header></header>
<main>
<div>
  <div>
    <div>
      <p><strong>About</strong></p>
      <ul>
        <li><a href="https://www.thechannelco.com/company">About The Channel Company</a></li>
        <li><a href="https://www.crn.com/about">About CRN</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
      </ul>
    </div>
    <div>
      <p><strong>Contact</strong></p>
      <ul>
        <li><a href="https://www.dell.com/en-us/lp/contact-us">Contact Dell Technologies</a></li>
        <li><a href="https://www.thechannelco.com/company/contact">Contact The Channel Company</a></li>
      </ul>
    </div>
    <div>
      <p><strong>CRN Awards</strong></p>
      <ul>
        <li><a href="https://pages.thechannelco.com/CRN-Lists-and-Awards.html?source=TCCwebsite">Subscribe</a></li>
        <li><a href="https://www.crn.com/rankings-and-lists">CRN Lists &amp; Awards</a></li>
      </ul>
    </div>
    <div>
      <p><strong>Follow</strong></p>
      <ul>
        <li><a href="https://www.instagram.com/dell/">Instagram</a></li>
        <li><a href="https://www.youtube.com/channel/UC01FW5V9UVohbPtqKSmXX-w">YouTube</a></li>
        <li><a href="https://twitter.com/delltech">X / Twitter</a></li>
        <li><a href="https://www.linkedin.com/company/delltechnologies">LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <p><a href="https://pages.thechannelco.com/standard-policies-INTL-Privacy.html">The Channel Company Privacy Policy</a> | <a href="https://pages.thechannelco.com/standard-policies-Global-cookies">Cookie Policy</a> | <a href="https://www.thechannelco.com/privacy-choices">Do Not Sell or Share My Personal Information</a></p>
  <p><img src="https://www.enterprisetechprovider.com/sites/all/themes/etp2023/images/dell_logo_white_160px.png" alt="Dell Technologies" width="160" height="28"> The Channel Company</p>
</div>
</main>
<footer></footer>
</body>
</html>
