<!DOCTYPE html>
<html lang="en">
<body>
<header></header>
<main>
<div>
  <p><a href="https://www.clarkcountynv.gov/" aria-label="Clark County Home"><picture><img src="https://www.clarkcountynv.gov/media_1ebb1c878cacf55496456ef3af495da4286a50102.png?width=750&amp;format=png&amp;optimize=medium" alt="Clark County logo"></picture></a></p>
  <ul>
    <li><a href="https://www.clarkcountynv.gov/residents">What Would You Like to Do?</a></li>
    <li><a href="https://www.clarkcountynv.gov/services">Services</a></li>
    <li><a href="https://www.clarkcountynv.gov/government">Government</a></li>
  </ul>
  <p>Search</p>
</div>
</main>
<footer></footer>
</body>
</html>
